https://medialinks.herokuapp.com {
  gzip
  proxy / http://ui:3000 {
      transparent
      websocket
  }
}

https://medialinks.herokuapp.com/api {
  gzip
  proxy / http://api:3000 {
      transparent
      websocket
  }
}